Qbvh {
    root_aabb: Aabb {
        mins: [
            95.86341,
            87.20737,
            12.661647,
        ],
        maxs: [
            97.86341,
            89.20737,
            14.661647,
        ],
    },
    nodes: [
        QbvhNode {
            simd_aabb: SimdAabb {
                mins: [
                    AutoSimd(
                        [
                            95.86341,
                            3.4028235e38,
                            3.4028235e38,
                            3.4028235e38,
                        ],
                    ),
                    AutoSimd(
                        [
                            87.20737,
                            3.4028235e38,
                            3.4028235e38,
                            3.4028235e38,
                        ],
                    ),
                    AutoSimd(
                        [
                            12.661647,
                            3.4028235e38,
                            3.4028235e38,
                            3.4028235e38,
                        ],
                    ),
                ],
                maxs: [
                    AutoSimd(
                        [
                            97.86341,
                            -3.4028235e38,
                            -3.4028235e38,
                            -3.4028235e38,
                        ],
                    ),
                    AutoSimd(
                        [
                            89.20737,
                            -3.4028235e38,
                            -3.4028235e38,
                            -3.4028235e38,
                        ],
                    ),
                    AutoSimd(
                        [
                            14.661647,
                            -3.4028235e38,
                            -3.4028235e38,
                            -3.4028235e38,
                        ],
                    ),
                ],
            },
            children: [
                1,
                4294967295,
                4294967295,
                4294967295,
            ],
            parent: NodeIndex {
                index: 4294967295,
                lane: 0,
            },
            flags: QbvhNodeFlags(
                0,
            ),
        },
        QbvhNode {
            simd_aabb: SimdAabb {
                mins: [
                    AutoSimd(
                        [
                            95.86341,
                            3.4028235e38,
                            3.4028235e38,
                            3.4028235e38,
                        ],
                    ),
                    AutoSimd(
                        [
                            87.20737,
                            3.4028235e38,
                            3.4028235e38,
                            3.4028235e38,
                        ],
                    ),
                    AutoSimd(
                        [
                            12.661647,
                            3.4028235e38,
                            3.4028235e38,
                            3.4028235e38,
                        ],
                    ),
                ],
                maxs: [
                    AutoSimd(
                        [
                            97.86341,
                            -3.4028235e38,
                            -3.4028235e38,
                            -3.4028235e38,
                        ],
                    ),
                    AutoSimd(
                        [
                            89.20737,
                            -3.4028235e38,
                            -3.4028235e38,
                            -3.4028235e38,
                        ],
                    ),
                    AutoSimd(
                        [
                            14.661647,
                            -3.4028235e38,
                            -3.4028235e38,
                            -3.4028235e38,
                        ],
                    ),
                ],
            },
            children: [
                0,
                4294967295,
                4294967295,
                4294967295,
            ],
            parent: NodeIndex {
                index: 0,
                lane: 0,
            },
            flags: QbvhNodeFlags(
                1,
            ),
        },
    ],
    dirty_nodes: [],
    free_list: [],
    proxies: [
        QbvhProxy {
            node: NodeIndex {
                index: 1,
                lane: 0,
            },
            data: ColliderHandle(
                Index {
                    index: 0,
                    generation: 0,
                },
            ),
        },
    ],
}