Qbvh {
    root_aabb: Aabb {
        mins: [
            10.432672,
            34.224533,
            5.723535,
        ],
        maxs: [
            12.432672,
            36.224533,
            7.723535,
        ],
    },
    nodes: [
        QbvhNode {
            simd_aabb: SimdAabb {
                mins: [
                    AutoSimd(
                        [
                            10.432672,
                            3.4028235e38,
                            3.4028235e38,
                            3.4028235e38,
                        ],
                    ),
                    AutoSimd(
                        [
                            34.224533,
                            3.4028235e38,
                            3.4028235e38,
                            3.4028235e38,
                        ],
                    ),
                    AutoSimd(
                        [
                            5.723535,
                            3.4028235e38,
                            3.4028235e38,
                            3.4028235e38,
                        ],
                    ),
                ],
                maxs: [
                    AutoSimd(
                        [
                            12.432672,
                            -3.4028235e38,
                            -3.4028235e38,
                            -3.4028235e38,
                        ],
                    ),
                    AutoSimd(
                        [
                            36.224533,
                            -3.4028235e38,
                            -3.4028235e38,
                            -3.4028235e38,
                        ],
                    ),
                    AutoSimd(
                        [
                            7.723535,
                            -3.4028235e38,
                            -3.4028235e38,
                            -3.4028235e38,
                        ],
                    ),
                ],
            },
            children: [
                2,
                4294967295,
                4294967295,
                4294967295,
            ],
            parent: NodeIndex {
                index: 4294967295,
                lane: 0,
            },
            flags: QbvhNodeFlags(
                0,
            ),
        },
        QbvhNode {
            simd_aabb: SimdAabb {
                mins: [
                    AutoSimd(
                        [
                            95.86341,
                            3.4028235e38,
                            3.4028235e38,
                            3.4028235e38,
                        ],
                    ),
                    AutoSimd(
                        [
                            87.20737,
                            3.4028235e38,
                            3.4028235e38,
                            3.4028235e38,
                        ],
                    ),
                    AutoSimd(
                        [
                            12.661647,
                            3.4028235e38,
                            3.4028235e38,
                            3.4028235e38,
                        ],
                    ),
                ],
                maxs: [
                    AutoSimd(
                        [
                            97.86341,
                            -3.4028235e38,
                            -3.4028235e38,
                            -3.4028235e38,
                        ],
                    ),
                    AutoSimd(
                        [
                            89.20737,
                            -3.4028235e38,
                            -3.4028235e38,
                            -3.4028235e38,
                        ],
                    ),
                    AutoSimd(
                        [
                            14.661647,
                            -3.4028235e38,
                            -3.4028235e38,
                            -3.4028235e38,
                        ],
                    ),
                ],
            },
            children: [
                4294967295,
                4294967295,
                4294967295,
                4294967295,
            ],
            parent: NodeIndex {
                index: 0,
                lane: 0,
            },
            flags: QbvhNodeFlags(
                1,
            ),
        },
        QbvhNode {
            simd_aabb: SimdAabb {
                mins: [
                    AutoSimd(
                        [
                            10.432672,
                            3.4028235e38,
                            3.4028235e38,
                            3.4028235e38,
                        ],
                    ),
                    AutoSimd(
                        [
                            34.224533,
                            3.4028235e38,
                            3.4028235e38,
                            3.4028235e38,
                        ],
                    ),
                    AutoSimd(
                        [
                            5.723535,
                            3.4028235e38,
                            3.4028235e38,
                            3.4028235e38,
                        ],
                    ),
                ],
                maxs: [
                    AutoSimd(
                        [
                            12.432672,
                            -3.4028235e38,
                            -3.4028235e38,
                            -3.4028235e38,
                        ],
                    ),
                    AutoSimd(
                        [
                            36.224533,
                            -3.4028235e38,
                            -3.4028235e38,
                            -3.4028235e38,
                        ],
                    ),
                    AutoSimd(
                        [
                            7.723535,
                            -3.4028235e38,
                            -3.4028235e38,
                            -3.4028235e38,
                        ],
                    ),
                ],
            },
            children: [
                0,
                4294967295,
                4294967295,
                4294967295,
            ],
            parent: NodeIndex {
                index: 0,
                lane: 0,
            },
            flags: QbvhNodeFlags(
                1,
            ),
        },
    ],
    dirty_nodes: [],
    free_list: [
        1,
    ],
    proxies: [
        QbvhProxy {
            node: NodeIndex {
                index: 2,
                lane: 0,
            },
            data: ColliderHandle(
                Index {
                    index: 0,
                    generation: 1,
                },
            ),
        },
    ],
}