Qbvh {
    root_aabb: Aabb {
        mins: [
            3.4028235e38,
            3.4028235e38,
            3.4028235e38,
        ],
        maxs: [
            -3.4028235e38,
            -3.4028235e38,
            -3.4028235e38,
        ],
    },
    nodes: [],
    dirty_nodes: [],
    free_list: [],
    proxies: [],
}