[
    QbvhNode {
        simd_aabb: SimdAabb {
            mins: [
                AutoSimd(
                    [
                        62.33865,
                        3.4028235e38,
                        3.4028235e38,
                        3.4028235e38,
                    ],
                ),
                AutoSimd(
                    [
                        98.48933,
                        3.4028235e38,
                        3.4028235e38,
                        3.4028235e38,
                    ],
                ),
                AutoSimd(
                    [
                        9.582388,
                        3.4028235e38,
                        3.4028235e38,
                        3.4028235e38,
                    ],
                ),
            ],
            maxs: [
                AutoSimd(
                    [
                        64.33865,
                        -3.4028235e38,
                        -3.4028235e38,
                        -3.4028235e38,
                    ],
                ),
                AutoSimd(
                    [
                        100.48933,
                        -3.4028235e38,
                        -3.4028235e38,
                        -3.4028235e38,
                    ],
                ),
                AutoSimd(
                    [
                        11.582388,
                        -3.4028235e38,
                        -3.4028235e38,
                        -3.4028235e38,
                    ],
                ),
            ],
        },
        children: [
            2,
            4294967295,
            4294967295,
            4294967295,
        ],
        parent: NodeIndex {
            index: 4294967295,
            lane: 0,
        },
        flags: QbvhNodeFlags(
            0,
        ),
    },
    QbvhNode {
        simd_aabb: SimdAabb {
            mins: [
                AutoSimd(
                    [
                        44.005894,
                        3.4028235e38,
                        3.4028235e38,
                        3.4028235e38,
                    ],
                ),
                AutoSimd(
                    [
                        52.057587,
                        3.4028235e38,
                        3.4028235e38,
                        3.4028235e38,
                    ],
                ),
                AutoSimd(
                    [
                        54.63754,
                        3.4028235e38,
                        3.4028235e38,
                        3.4028235e38,
                    ],
                ),
            ],
            maxs: [
                AutoSimd(
                    [
                        46.005894,
                        -3.4028235e38,
                        -3.4028235e38,
                        -3.4028235e38,
                    ],
                ),
                AutoSimd(
                    [
                        54.057587,
                        -3.4028235e38,
                        -3.4028235e38,
                        -3.4028235e38,
                    ],
                ),
                AutoSimd(
                    [
                        56.63754,
                        -3.4028235e38,
                        -3.4028235e38,
                        -3.4028235e38,
                    ],
                ),
            ],
        },
        children: [
            4294967295,
            4294967295,
            4294967295,
            4294967295,
        ],
        parent: NodeIndex {
            index: 0,
            lane: 0,
        },
        flags: QbvhNodeFlags(
            1,
        ),
    },
    QbvhNode {
        simd_aabb: SimdAabb {
            mins: [
                AutoSimd(
                    [
                        62.33865,
                        3.4028235e38,
                        3.4028235e38,
                        3.4028235e38,
                    ],
                ),
                AutoSimd(
                    [
                        98.48933,
                        3.4028235e38,
                        3.4028235e38,
                        3.4028235e38,
                    ],
                ),
                AutoSimd(
                    [
                        9.582388,
                        3.4028235e38,
                        3.4028235e38,
                        3.4028235e38,
                    ],
                ),
            ],
            maxs: [
                AutoSimd(
                    [
                        64.33865,
                        -3.4028235e38,
                        -3.4028235e38,
                        -3.4028235e38,
                    ],
                ),
                AutoSimd(
                    [
                        100.48933,
                        -3.4028235e38,
                        -3.4028235e38,
                        -3.4028235e38,
                    ],
                ),
                AutoSimd(
                    [
                        11.582388,
                        -3.4028235e38,
                        -3.4028235e38,
                        -3.4028235e38,
                    ],
                ),
            ],
        },
        children: [
            0,
            4294967295,
            4294967295,
            4294967295,
        ],
        parent: NodeIndex {
            index: 0,
            lane: 0,
        },
        flags: QbvhNodeFlags(
            1,
        ),
    },
]